name: iOS Build (Unsigned)

on:
  push:
    branches: [ main ]

jobs:
  ios:
    runs-on: macos-latest

    steps:
      - uses: actions/checkout@v4

      - name: Install Node
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install Bun
        run: |
          curl -fsSL https://bun.sh/install | bash
          echo "$HOME/.bun/bin" >> $GITHUB_PATH

      - name: Install deps
        run: npm install --legacy-peer-deps || true
          
      - name: Install CocoaPods
        run: |
          cd ios
          pod install

      - name: Prebuild Expo
        run: |
          npx expo prebuild

        
      - name: Prebuild Ios
        run: npx expo prebuild --platform ios --clean

      - name: Build iOS (no signing)
        run: |
          cd ios
          xcodebuild \
            -workspace Papillon.xcworkspace \
            -scheme Papillon \
            -configuration Release \
            -sdk iphonesimulator \
            -derivedDataPath build

      - name: Upload build
        uses: actions/upload-artifact@v4
        with:
          name: ios-build
          path: ios/build



      
