name: Build IPA
on: [workflow_dispatch] # Permet de lancer le build manuellement

jobs:
  build:
    runs-on: macos-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Select Xcode version
        run: sudo xcode-select -s /Applications/Xcode_15.2.app

      - name: Build Archive
        run: |
          xcodebuild -project TuProjet.xcodeproj \
                     -scheme TonScheme \
                     -archivePath build/App.xcarchive \
                     archive \
                     CODE_SIGNING_ALLOWED=NO

      - name: Create IPA (Unsigned)
        run: |
          mkdir -p build/Payload
          cp -r build/App.xcarchive/Products/Applications/*.app build/Payload
          cd build && zip -r TonApp.ipa Payload

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: my-app-ipa
          path: build/TonApp.ipa
