name: Build iOS (unsigned)

on:
  push:
    branches: [ "main" ]

jobs:
  build-ios:
    runs-on: macos-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4


      - name: Install CocoaPods
        run: |
          sudo gem install cocoapods

      - name: Install Pods
        working-directory: ios
        run: |
          pod instal

      - name: Build app (no signing)
        run: |
          xcodebuild \
            -project ios/Papillon.xcodeproj \
            -scheme Papillon \
            -configuration Debug \
            -sdk iphoneos \
            CODE_SIGNING_ALLOWED=NO \
            build

      - name: Upload .app artifact
        uses: actions/upload-artifact@v4
        with:
          name: ios-app
          path: build/Debug-iphoneos/*.app