name: iOS Build (Unsigned)

on:
  push:
    branches: [ main ]

jobs:
  ios:
    runs-on: macos-26

    steps:
      - uses: actions/checkout@v4

      - name: Install Node
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install Bun
        run: |
          curl -fsSL https://bun.sh/install | bash
          echo "$HOME/.bun/bin" >> $GITHUB_PATH

      - name: Install deps
        run: npm install --legacy-peer-deps || true
          
      - name: Install CocoaPods
        run: |
          cd ios
          pod install

      - name: Prebuild Expo
        run: |
          npx expo prebuild

        
      - name: Prebuild Ios
        run: npx expo prebuild --platform ios --clean

      - name: Build iOS app (verbose)
        run: |
          set -o pipefail
          xcodebuild \
            -workspace ios/Papillon.xcworkspace \
            -scheme Papillon \
            -configuration Debug \
            -sdk iphoneos \
            -destination 'generic/platform=iOS' \
            CODE_SIGNING_ALLOWED=NO \
            DEVELOPMENT_TEAM= \
            clean build \
            -verbose

      - name: Upload build
        uses: actions/upload-artifact@v4
        with:
          name: ios-build
          path: ios/build



      
