name: Build iOS (unsigned)

on:
  push:
    branches: [ "main" ]

jobs:
  build-ios:
    runs-on: macos-latest

    steps:
      - uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 18

      - name: Install JS dependencies
        run: |
          npm install

      - name: Install CocoaPods
        run: sudo gem install cocoapods

      - name: Install Pods
        working-directory: ios
        run: pod install

      - name: Build iOS app
        run: |
          xcodebuild \
            -workspace ios/Papillon.xcworkspace \
            -scheme Papillon \
            -configuration Debug \
            -sdk iphoneos \
            -destination 'generic/platform=iOS' \
            CODE_SIGNING_ALLOWED=NO \
            build

      - name: Upload .app
        uses: actions/upload-artifact@v4
        with:
          name: Papillon-app
          path: ios/build/Debug-iphoneos/*.app